.footer {
  padding-bottom: 32px;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $gray;
    border-radius: $border-radius;
    padding: 155px 80px;
  }
}

.footer__socials {
  .socials-list {
    display: flex;
    list-style-type: none;

    &__item {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.footer__contact {
  max-width: 180px;

  .contact__link {
    display: flex;
    align-items: center;
    justify-content: end;
    text-decoration: none;
    color: $black;
    font-size: $h6;
    font-weight: $font-w-medium;
    margin-bottom: 8px;
  }

  .contact__info {
    text-align: end;

    &-text {
      font-size: $h7;
      color: $black;
      line-height: 20px;
    }
  }

  .contact__icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .footer {
    &__content {
      padding: 31px 0;
    }

    &__contact {
      order: 0;
    }

    .contact-title--end {
      text-align: center;
    }

    &__socials {
      order: 1;
    }

    &__content {
      flex-direction: column;
      text-align: center;
      row-gap: 49px;
    }

    .contact__link {
      justify-content: center;
    }

    .contact__info {
      text-align: left;

      &-text {
        margin-left: 44px;
      }
    }
  }
}
