// Top bar

.top-bar {
  background-color: $main-color;
  padding: 9px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }

  &__text {
    font-size: $h6;
    color: $white;
  }
}

// Menu

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 48px 0;

  &__logo {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__logo-wrapper {
    display: flex;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  &__half-left {
    display: flex;
  }

  &__list {
    display: flex;
    list-style-type: none;
  }

  &__item {
    margin-left: 32px;
  }

  &__link {
    text-decoration: none;
    color: $text-color;
    font-size: $h3;

    &--highlight {
      color: $main-color;
      font-weight: 700;
    }
  }

  &__search-wrapper {
    display: flex;
  }

  &__search {
    width: 225px;
    padding: 14px 0 14px 20px;
    font-size: $h7;
    border-radius: 80px;
    cursor: default;
    border: 1px solid $gray-dark;
    color: $text-color;

    &::placeholder {
      color: $text-color;
    }
  }

  &__custom-search {
    position: relative;

    &--hover:hover {
      .navigation__icon {
        circle,
        path,
        ellipse {
          stroke: $main-color;
        }
      }
    }
  }

  &__icons,
  .navigation__toggle {
    display: flex;

    &-decor {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      border: 1px solid $gray-dark;
      border-radius: 50%;
      margin: 0 10px 0 0;
      transition: all 300ms;

      &:last-child {
        margin-right: 0;
      }

      &:first-child {
        margin-left: 10px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 36px;
        height: 36px;
        background-color: $gray;
        border-radius: 50%;
        z-index: -1;
      }

      &--input {
        position: absolute;
        right: 0;
        top: 100%;
        border: none;
        transform: translateY(-100%);
      }

      circle,
      path,
      ellipse {
        transition: stroke 300ms;
      }

      &--hover:hover {
        circle,
        path,
        ellipse {
          stroke: $main-color;
        }
      }

      &--d-none {
        display: none;
        margin: 0;
      }
    }
  }

  &__mark {
    position: absolute;
    top: 0;
    right: 3px;
    width: 8px;
    height: 8px;
    background-color: $main-color;
    border-radius: 50%;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}

// Burger

.navigation__toggle {
  display: none; /* Ukryte na dużych ekranach */
  flex-direction: column;
  cursor: pointer;
}

.navigation__bar {
  width: 16px;
  height: 1px;
  background-color: #413f3d;
  margin: 2px 0;
  border-radius: 4px;
  transition: all 0.3s ease;
}

@media (max-width: 1320px) {
  .navigation,
  .top-bar {

    .navigation__item {
      margin-left: 20px;
    }

    .navigation__link,
    .top-bar__text {
      font-size: $h6;
    }
  }
}

@media (max-width: 1199px) {
  .navigation,
  .top-bar { 

    .navigation__item {
      margin-left: 18px;
    }

    &__search {
      width: 150px;
    }

    .navigation__link,
    .top-bar__text {
      font-size: $h3 * 0.7;
    }
  }
}

@media (max-width: 992px) {
  .navigation {
    padding: 24px 0;
    
    .navigation__link {
      font-size: $h3;
    }

    &__wrapper {
      margin: 0;
      order: 2;
    }

    &__search-wrapper {
      margin-left: auto;
    }

    &__half-right {
      order: 1;
      margin-left: auto;
    }

    .navigation__toggle {
      display: flex;
      z-index: 21;
    }

    .navigation__list {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 34px;
      left: 0;
      background-color: white;
      width: 100%;
      padding: 30px 0;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      z-index: 20;
    }

    .navigation__item {
      padding: 10px 0;
    }

    .navigation__list.active {
      display: flex;
    }
  }
}

@media (max-width: 768px) {
  .top-bar {
    &__wrapper {
      justify-content: center;
    }

    &__link {
      &--hidden {
        display: none;
      }
    }
  }
}

@media (max-width: 576px) {
  .navigation {
    padding: 24px 0 29px 0;
    row-gap: 24px;

    &__search-wrapper {
      order: 4;
      margin: 0;
      width: 100%;
    }

    &__search, &__custom-search,  &__search-input {
      width: 100%;
    } 
    
    &__icons {
      margin-left: auto;
    }
  }
}
