.slick__wrapper {
  position: relative;

  .slick__slider {
    position: relative;

    .hidden {
      visibility: hidden;
    }

    .slick-list {
      overflow: hidden;
      border-radius: $border-radius;

      .slick-track {
        display: flex;
        max-height: 520px;

        .slick-slide {
          position: relative;

          img {
            height: 520px;
          }

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(168, 168, 168);
            background: radial-gradient(
              circle,
              rgba(168, 168, 168, 0.45) 0%,
              rgba(45, 45, 45, 0.55) 100%
            );
            opacity: 40%;
          }
        }
      }
    }

    .slick-dots {
      display: flex;
      justify-content: center;
      margin-top: 31px;
      list-style-type: none;

      > li {
        display: flex;
        align-items: center;
        margin-right: 20px;

        button {
          width: 6px;
          height: 6px;
          background-color: $text-color;
          border-radius: 50%;
          padding: 0;
          box-shadow: none;
          border: 0;
          cursor: pointer;
        }

        &.slick-active {
          border: 1px solid $main-color;
          padding: 6px;
          border-radius: 50%;

          button {
            width: 4px;
            height: 4px;
            background-color: $main-color;
            border: 1px solid $main-color;
          }
        }
      }
    }
  }

  .slick-arrows__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% - 15px));
    z-index: 1;
    padding: 0 48px;
  }

  .slick-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: transparent;
    border: 1px solid $white;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: background-color 300ms;

    svg {
      width: 15px;
      height: 12px;
    }

    &--hover:hover {
      background-color: $black;
    }
  }

  .slick-disabled {
    opacity: 0.5;
  }

  .slick__box {
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: absolute;
    width: 100%;
    bottom: 48px;
    padding: 0 48px 48px 48px;
  }

  .slick__content {
    max-width: 615px;
  }

  .slick__title {
    font-size: $h0;
    font-weight: $font-w-black;
    color: $white;
    line-height: 62px;
  }

  .slick__description {
    font-size: $h3;
    color: $white;
    font-weight: $font-w-medium;
    line-height: 28px;
  }
}

@media (max-width: 992px) {
  .slick__wrapper {
    .slick__box {
      flex-wrap: wrap;
      gap: 12px;
    }
    .slick__content {
      max-width: 100%;
    }

    .slick__title {
      font-size: 28px;
    }

    .slick__description {
      line-height: 20px;
      color: $light;
      font-size: $h5;
    }
  }
}

@media (max-width: 768px) {
  .slick__wrapper {
    .slick-arrows__wrapper {
      display: none;
    }

    .slick__box {
      padding: 0 44px 20px 20px;
    }
  }
}
