$main-color: #f62f61;
$gray: #f6f6f6;
$gray-dark: #eaeaea;
$text-color: #2c2e35;
$text-color-light: #6b6b6b;
$white: #ffffff;
$light: #EEEEEE;
$black: #292929;

$font-family-primary: "Inter";
$letter-spacing: 0px;
$letter-spacing-big: 2px;

$font-w-medium: 500;
$font-w-bold: 700;
$font-w-extra-bold: 800;
$font-w-black: 900;

$border-radius-small: 8px;
$border-radius: 16px;

$h0: 40px;
$h1: 24px;
$h2: 16px;
$h3: 15px;
$h4: 14px;
$h5: 13px;
$h6: 12px;
$h7: 11px;
$h8: 10px;

@media (max-width: 1399px) {
  h1 {
    font-size: $h0 * 0.9 !important;
  }
  h2, p {
    font-size: $h1 * 0.7 !important;
  }
  h3, p {
    font-size: $h2 * 0.8 !important;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: $h0 * 0.7 !important;
  }
}
