$main-color: #F62F61;
$gray: #F6F6F6;
$gray-dark: #EAEAEA;
$text-color:#2C2E35;
$white: #FFFFFF;

$font-family-primary: 'Inter';
$letter-spacing: 0px;
$letter-spacing-big: 2px;


$h0: 40px;
$h1: 24px;
$h2: 16px;
$h3: 15px;
$h4: 14px;
$h5: 13px;
$h6: 12px;
$h7: 11px;
$h8: 10px;

