@import "type";
@import "reset";
@import "containers";
@import "variables";
@import "header";
@import "slider";
@import "button";

html, body {
    font-family: "Inter" !important;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: $letter-spacing;
}

h1 {
    font-weight: 400;
}


